name: Conditional 
on: 
  push:
    branches:
      - dev
      - main
jobs:
  conditional:
    runs-on: ubuntu-latest
    steps:
      - name: for dev branch only
        if: github.ref_name == 'dev'
        run: echo "Pushed to dev branch"
      - name: for main branch only
        if: github.ref_name == 'main'
        run: echo "Pushed to main branch"
      - name: slack message on dev branch
        if:  github.ref_name == 'man'
        uses: JamesIves/fetch-api-data-action@v2
        with:
          endpoint: ${{ secrets.SLACK_WEBHOOK }}
          configuration: '{ "method": "POST", "body": {"text":"${{ github.actor }} Pushed to main branch right now.!!!"}, "headers": {"Content-Type":"application/json"} }'

      

        
