name: Conditional 
on: 
  push:
    branches:
      - dev
      - main
jobs:
  conditional:
    runs-on: ubuntu-latest
    steps:
      - name: for dev branch only
        if: github.ref_name == 'dev'
        run: echo "Pushed to dev branch"
      - name: for main branch only
        if: github.ref_name == 'main'
        run: echo "Pushed to main branch"
      - name: Checkout first, to access the folder here
        uses: actions/checkout@v3
      - name: slack message on main branch
        id: msg
        if:  github.ref_name == 'main'
        uses: Millz147/auto-slack-message@v1.0.0
        with:
          slack_webhook: ${{ secrets.SLACK_WEBHOOK }}
          message: '${{ github.actor }} Pushed to main branch right now.!!!'
      - run: echo ${{ steps.msg.outputs.response }}

      

        
