name: Fetch API
on: 
  push:
    branches:
      - main
jobs:
  fetch-requests:
    runs-on: ubuntu-latest
    steps:
      - name: automatically create issue after push on main branch
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}"\          
          -H "Accept: application/vnd.github+json" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          -d '{"title":"Automatic issue created for commit: ${{ github.sha }}", "body":"This issue was automatically created after deploying on main using Action workflows"}'
        # uses: JamesIves/fetch-api-data-action@v2
        # with:
        #   token-endpoint: https://api.github.com/repos/${{ github.repository }}/issues
        #   token-configuration: '{"method":"POST", "body":{"title": "Automatic issue created for commit: ${{ github.sha }}", "body":"This issue was automatically created after deploying on main using Action workflows"},"headers": {"Authorization": "Bearer ${{ secrets.GITHUB_TOKEN }}"}}'
          # configuration: '{ "method": "POST", "body": {"title": "Automatic issue created for commit: ${{ github.sha }}", "body":"This issue was automatically created after deploting on main using Action workflows"}, "headers": {"Authorization": "Bearer ${{ secrets.GITHUB_TOKEN }}", "Accept": "application/vnd.github+json", "X-GitHub-Api-Version": "2022-11-28", "Content-Type": "application/json"} }'