name: Fetch API
on: 
  push:
    branches:
      - main
jobs:
  fetch-requests:
    runs-on: ubuntu-latest
    steps:
      - name: automatically create issue after push on main branch
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${{ github.repository }}/issues \
            -d '{"title":"Automatic issue created for commit: ${{ github.sha }}","body":"This issue was automatically created after deploying on main using Action workflows"}'