name: Greet Someone
on: 
  push:
    branches:
      - main
env: 
  GLOBAL: Global Variable

jobs:
  greet-someone:
    runs-on: ubuntu-latest
    steps:
      - name: greet
        run: echo "Hello World.!!!"
      - name: person
        id: personid
        uses: actions/hello-world-javascript-action@main
        with:
          who-to-greet: 'Ibrahim Habib'
      - name: output
        run: echo "The time was ${{ steps.personid.outputs.time }}"
      - name: list files before checkout
        run: |
          pwd
          ls -a
      - name: checkout
        uses: actions/checkout@v3
      - name: list files after checkout
        run: |
          pwd
          ls -a
  variables:
    env: 
      JOB_GLOBAL: Job Global variable
    runs-on: ubuntu-latest
    steps:
      - name: default environnment variables
        run: |
          echo "COMMIT ID: ${GITHUB_SHA}"
          echo "EVENT NAME: ${GITHUB_EVENT_NAME}"
          echo "REPOSITORY: ${GITHUB_REPOSITORY}"
          echo "USERNAME : ${GITHUB_ACTOR}"
          echo "CI: ${CI}"
      - name: personal environment variables
        env: 
          STEP_LOCAL: This Step local variable
        run: |
          echo "GLOBAL ${GLOBAL}"
          echo "JOB_GLOBAL ${JOB_GLOBAL}"
          echo "STEP_LOCAL ${STEP_LOCAL}"

